.meal {
    min-width: 300px;
    .meal-header {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 5px 0;

        .meal-name {
            width: 25%;
            font-size: 16px;
        }
        .meal-nutrients {
            display: flex;
            justify-content: flex-end;
            width: 55%;

            .meal-nutrients-item {
                text-align: right;
                width: 25%;
            }
        }
        .meal-add-button {
            width: 30px;
            height: 30px;
            color: #ffffff;
            font-weight: 700;
            font-size: 24px;
            background-color: green;
            border-radius: 50%;
            border: none;
            outline: none;
            margin-left: auto;
        }
    }
    .meal-ingredients-list {
        
    }
}